# Maintain this file manually.  Do NOT use `pip freeze`!!!
# This file is to setup a developer's local virtualenv.

# # Import the local project in "editable" mode.
-e .

# Import all the dependencies as they should be carried over to production.
-r requirements.txt

# Import developer CI tools.
-r requirements-ci.txt
